#tables {
	position: absolute;
	left: 120px;
	top: 400px;
	height: 100%;
	width: 85%;
	
}
.flatTable tr:hover {background-color: #f5f5f5}
* {
  font-family: Lato;
}

.flatTable {
  width: 100%;
  border-collapse: collapse; 
  font-weight: bold;
  color: #6b6b6b;
}
.flatTable tr {
  height: 50px;
  background: #d4d1d5;
  border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
  text-align: center;
  font-size: 11pt;
  font-family: sans-serif;
}
.flatTable td {
  text-align: center;
}
.flatTable th {
  padding-left: 5px;
}
.flatTable .titleTr {
  height: 70px;
  color: #f6f3f7;
  background: #418a95;
  border: 0px solid;
}

.flatTable .headingTr {
  height: 40px;
  background: white;
  color: #418a95;
  font-size: 12pt;
  border: 0px solid;
  padding: 0px;
  text-align: center;
}
.flatTable .headingTr1{
  height: 40px;
  background: #418a95;
  color: white;
  font-size: 15pt;
  border: 0px solid;
  padding: 0px;
  text-align: center;
}
.flatTable .controlTd {
  position: relative;
  width: 10px;
  center center no-repeat;
  cursor: pointer;
}

@import "compass/css3";

* {
  margin:0;
  padding:0;
}

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);



.wrap {
	position: relative;
  width:800px;
  margin:0 auto;
  text-align:left;
  color:#989A8F;
  top: 100px;
}

.table {
  background-color:#ffffff; 
  height:325px;
  width:100%;
  margin-top:50px;  
}

ul li {
  float:left;
  width:199px;
  text-align:center;
  border-left:1px solid #DDDCD8;
}

.top {
  background-color:#EAE9E4;
  height:75px;
}
h1 {
    padding-top:20px;
  }
.circle {
  width:60px;
  height:60px;
  border-radius:60px;
  font-size:20px;
  color:#fff;
  line-height:60px;
  text-align:center;
  background:#989A8F;
  margin-left:70px;
  margin-top:10px;
}

.bottom {
margin-top:50px;
}
p {
     font-family: 'Droid Serif', sans-serif;
     padding:5px;
	 font-size:13px;
  }
 span {
     font-weight:bold; 
    }

.sign {
  margin-top:50px;
    
}
.button {
   border: 1px solid #989A8F;
   padding: 10px 40px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #989A8F;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
    font-size:17px;
   }
.purple {
  background-color:#5D4660;   
}

.white {
 color:#FFFFFF; 
}

.pink {
  background-color:#BC9B94;
}


